/**
 * @file: style.css
 * @author: Gruppo 7
 * @members:
  - Stefano Pedroli
  - Alessando Oppedisano
  - Lorenzo Bergamasco
  - Amedeo Martello
 * @lesson: 17 - More jQuery
 * @numberOfTheExercise: 1
 * @exerciseTitle: Weather Station
 */

.cssDisplay {
  background-color: #FFFFFF;
  color: #000000;
  border: 10px inset #6D6D6D;
  padding: 14px;
  margin: 25px;
  font-family: 'arial black';
  text-align: center;
}

.container {
  background-color: #FFFFFF;
  margin: auto;
  width: 90%;
  height: auto;
  margin-bottom: 5%;
}

/*****************************/
/***********TITLE*************/
/*****************************/

.title {
  background-color: #FFFFFF;
  color: #036F4B;
  font-size: 3em;
  width: 100%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

/*****************************/
/**********SETTINGS***********/
/*****************************/

.seattings {
  background-color: #4e9a81;
  width: 94%;
  height: 50px;
  border-radius: 9px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 3%;
  padding-right: 3%;

  color: #e5f0ed;
  font-size: 1.5em;

  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;

  /* cards effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.2s;
  margin-bottom: 2%;
}
.seattings:hover {
  /* cards effect */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

input, select, textarea, button {
  color: #358b6e;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #4e9a81;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #4e9a81;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #4e9a81;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #4e9a81;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #4e9a81;
}

::placeholder { /* Most modern browsers support this now. */
  color: #4e9a81;
}

input[type=search] {
  width: 9%;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #036f4b;
  border-radius: 5px;
  font-size: 16px;
  background-color: #e5f0ed;
  background-image: url('https://png.icons8.com/?id=131&size=23');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
  width: 25%;
}

.country {
  width: 15%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #036f4b;
  border-radius: 5px;
  font-size: 16px;
  background-color: #e5f0ed;
  padding: 12px 20px 12px 40px;
}

label {
  display: block;
  text-align: center;
  line-height: 170%;
  font-size: 1.3em;
}

.pauseButton {
  width: 8%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #036f4b;
  border-radius: 5px;
  font-size: 16px;
  padding: 0px;
  background-color: #e5f0ed;
}

.pauseButton:hover {
  background-color: #036f4b;
  color: #e5f0ed;
}

/********LOADER***********/
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #81b7a5;
  border-radius: 50%;
  border-top: 16px solid #036f4b;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/*****************************/
/*********ACCORDITION*********/
/*****************************/

button.accordion {
    background-color: #4e9a81;
    color: #e5f0ed;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 80px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

    margin-top: 0.5%;
  	margin-bottom: 0.5%;
    /* cards effect */
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  	transition: 0.2s;
}

button.accordion.active, button.accordion:hover {
    background-color: #358b6e;
}

div.panel {
	width: auto;
    height: 300px;
    padding: 3%;
    display: none;
    background-color: white;
    text-align: center;
    background-color: #e5f0ed;
}

img.webcamImg {
  float: left;
  /* width: 100%; */
  max-width: 50%;
  /* height: 300px; */
  max-height: 100%;
  margin-right: 3%;
}

.webcamImg {
  /* style effects */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  /* img filter */
  -webkit-filter: saturate(2);
  filter: saturate(2);
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
}

/*
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
.imgBox img {
  width: 100%;
  height: auto;
  max-height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;

  /* img filter
  -webkit-filter: saturate(2);
  filter: saturate(2);
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
}*/
